.modal {
  display: block;
  position: relative;
  top: 50px; left: 50px; bottom: 50px; right: 50px;
  background: #fff;
  z-index: 1000;
  width: 50%;
  height: auto;
  margin-left: 240px;

}
.overlay {
/*  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);*/

  /* A green translucent div that covers the whole screen */
  position:absolute;
  z-index:1000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal2 {
  display: block;
  position: relative;
  top: 50px; left: 50px; bottom: 50px; right: 50px;
  background: #fff;
  z-index: 1000;
  width: 50%;
  height: auto;
  margin-left: 240px;

}
.overlay2 {
/*  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);*/

  /* A green translucent div that covers the whole screen */
  position:absolute;
  z-index:1000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}

