<div class="overlay2">
<div class="modal2">
	<div class="modal-header">
			<button ng-click="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class='glyphicon glyphicon-edit'></i> Editar producto</h4>
		  </div>
		<div class="modal-body">
			<small style="font-weight: bolder;color: #286090;">Campos Obligatorios(*)</small>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Nombre (*)</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="nombre" required>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Descripcion (*)</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="descripcion" required>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Cantidad Actual</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="cantidadActual" required>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Cantidad Mínima</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="cantidadMin">
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Precio Unitario (*)</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="precioUnitario">
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Precio Mayorista (*)</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="precioMayorista" required>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Precio Promocional</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="precioPromocional" required>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Proveedor (*)</label>
				<div class="col-sm-8">
					<select class="form-control"
      				ng-options="proveedor.Nombre for proveedor in proveedores track by proveedor.idProveedores"
      				ng-model="miProv">	
					</select>
				</div>

			</div>
			<br>
			<br>
			<div class="form-group" ng-if="expirationDate != 0">
				<label for="nombre" class="col-sm-4 control-label">Fecha de vencimiento</label>
				<div class="col-sm-8">
					<datepicker date-format="yyyy-MM-dd" selector="form-control" button-prev-title="previous month" button-next-title="next month">
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha de vencimiento" id="newDate" ng-model="fechaVencimiento" style="cursor: pointer"/>
                            <span class="input-group-addon">
                            <i class="fa fa-lg fa-calendar"></i>
                            </span>
                        </div>
                    </datepicker>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group" ng-if="requieredPhoto == 0">
				<label for="nombre" class="col-sm-4 control-label">Foto</label>
				<div class="col-sm-8">
					<p ng-show="!imagen" style="color: black;font-weight: bold;">
						Subir foto
					</p>
					<input onchange="angular.element(this).scope().SelectFile(event)"  type="file" id="imageFile" name="file" accept="image/*" multiple ng-model="imageFile">
					<img ng-show="imagen" width="100%" id="imgToUpload" height="100%" src="data:image/*;base64,{{imagen}}" data-err-src="../img/avatar_2x.png">
					
				</div>
			</div>
			<br>
			<br>
		</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cerrarModal()">Cerrar</button>
		<button type="submit" class="btn btn-primary" ng-click="modificarProducto()">Guardar Datos</button>
	</div>
</div>
</div>